{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1> ¡Bienvenido {{ userName }}!</h1>
    <p> Esta tu registro de Cervezas: </p>
    
    <ul>
        {% for cerveza in cervezas %}
            <li>
                {{ cerveza.nombre }} - Alcohol {{ cerveza.alc}}% - Notas: {{cerveza.notes}}
                [<a href="/user/beer/delete/{{cerveza.mappingId}}">Eliminar Cerveza</a>]
                [<a href="/user/beer/edit/{{cerveza.mappingId}}">Editar Nota</a>]
            </li>
        {% endfor %}
        <br>
        <a href="/user/{{userId}}/beer/add">Añadir Cerveza</a>
    </ul>
{% endblock %}
