{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1> ¡Bienvenido {{ userName }}!</h1>
    <h2> Panel de usuario </h2>
    <p> Este es tu registro de Cervezas: </p>
    
    <ul>
        {% for cerveza in cervezas %}
            <li>
                {{ cerveza.nombre }} - Alcohol {{ cerveza.alc}}% - Notas: {{cerveza.notes}}
                <a href="/user/beer/delete/{{cerveza.mappingId}}"><button>Eliminar</button></a>
                <a href="/user/beer/edit/{{cerveza.mappingId}}"><button>Editar nota</button></a>
            </li>
        {% endfor %}
        <a href="/user/{{userId}}/beer/add"><button>Añadir Cerveza</button></a>
        <br>
        <br>
        <a href="/user/{{userId}}/update"><button>Editar Usuario</button></a>
        <a href="/user/{{userId}}/logout"><button>Desconectarse</button></a>
    </ul>
{% endblock %}
